.cv {
  margin-bottom: 40px;

  .card {
      background-color: var(--global-card-bg-color);
      border: 1px solid var(--global-divider-color);
      
      .list-group-item {
      background-color: inherit;
      border-color: var(--global-divider-color);

      .badge {
          color: var(--global-card-bg-color) !important;
          background-color: var(--global-theme-color) !important;
      }
      }
  }
}